#include("java-common/header.vm")
package $packageName;

import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonValue;


#parse("java-holder-spring-models/model/enum.vm")
