    public enum {{#datatypeWithEnum}}{{{.}}}{{/datatypeWithEnum}}{{^datatypeWithEnum}}{{classname}}{{/datatypeWithEnum}} {{openBracket}}{{#allowableValues}}{{#values}}
        {{{.}}}{{^-last}},{{/-last}}{{/values}}{{/allowableValues}}
    }