/**
* $definitionName
* 
* #if($definitionDescription)
* $WordUtils.wrap($definitionDescription, 60, "
* ", false)
* #end
*/
@JsonAdapter(${definitionName}.Adapter.class)
public enum $definitionName {
#foreach($field in $fieldList)
    #parse("common/datadefinition.vm")
    $StringUtils.upperCase($fieldName)("$StringUtils.upperCase($fieldName)")#if( $foreach.hasNext ),#end#if(! $foreach.hasNext );#end
#end
    
    private String value;
    
    $definitionName(String value) {
      this.value = value;
    }
    
    @Override
    public String toString() {
      return String.valueOf(value);
    }
    
    public String getValue() {
        return value;
    }

    public static $definitionName fromValue(String value) {
      for ($definitionName b : ${definitionName}.values()) {
        if (b.value.equals(value)) {
          return b;
        }
      }
      throw new IllegalArgumentException("Unexpected value '" + value + "'");
    }
    
    public static class Adapter extends TypeAdapter<$definitionName> {
        @Override
        public void write(final JsonWriter jsonWriter, final $definitionName enumeration) throws IOException {
          jsonWriter.value(enumeration.getValue());
        }
        
        @Override
        public $definitionName read(final JsonReader jsonReader) throws IOException {
          String value = jsonReader.nextString();
          return ${definitionName}.fromValue(value);
        }
}    
    
}
