<project>
    <modelVersion>4.0.0</modelVersion>

    <groupId>au.org.consumerdatastandards</groupId>
    <artifactId>cds-client-java-cli</artifactId>
    <version>0.0.2-SNAPSHOT</version>
    <packaging>jar</packaging>
    <name>cds-cli-java</name>
    <url>https://github.com/ConsumerDataStandardsAustralia/cds-cli-java</url>
    <description>CDS Client CLI (Java)</description>
    <scm>
        <connection>scm:git:git@github.com:ConsumerDataStandardsAustralia/cds-cli-java.git</connection>
        <developerConnection>scm:git:git@github.com:ConsumerDataStandardsAustralia/cds-cli-java.git</developerConnection>
        <url>https://github.com/ConsumerDataStandardsAustralia/cds-cli-java</url>
    </scm>
    <licenses>
        <license>
            <name>MIT</name>
            <url>https://opensource.org/licenses/MIT</url>
            <distribution>repo</distribution>
        </license>
    </licenses>
    <developers>
        <developer>
            <name>Consumer Data Standards Australia</name>
            <email>cdr-data61@csiro.au</email>
            <organization>Data61</organization>
            <organizationUrl>https://data61.csiro.au/</organizationUrl>
        </developer>
    </developers>
    <properties>
        <java.version>1.8</java.version>
        <cds-client-java-version>0.0.2-SNAPSHOT</cds-client-java-version>
        <spring-shell-version>2.0.1.RELEASE</spring-shell-version>
        <maven.compiler.source>#[[$]]#{java.version}</maven.compiler.source>
        <maven.compiler.target>#[[$]]#{java.version}</maven.compiler.target>
        <dockerfile-maven-version>1.4.10</dockerfile-maven-version>
        <dockerfile.skip>false</dockerfile.skip>
    </properties>
    <parent>
        <groupId>org.springframework.boot</groupId>
        <artifactId>spring-boot-starter-parent</artifactId>
        <version>2.1.4.RELEASE</version>
    </parent>
    <distributionManagement>
        <snapshotRepository>
            <id>ossrh</id>
            <url>https://oss.sonatype.org/content/repositories/snapshots</url>
        </snapshotRepository>
        <repository>
            <id>ossrh</id>
            <url>https://oss.sonatype.org/service/local/staging/deploy/maven2/</url>
        </repository>
    </distributionManagement>
    <dependencies>
        <dependency>
            <groupId>org.springframework.boot</groupId>
            <artifactId>spring-boot-starter</artifactId>
        </dependency>
        <dependency>
            <groupId>au.org.consumerdatastandards</groupId>
            <artifactId>cds-client-java</artifactId>
            <version>#[[$]]#{cds-client-java-version}</version>
        </dependency>
        <dependency>
            <groupId>org.springframework.shell</groupId>
            <artifactId>spring-shell-core</artifactId>
            <version>#[[$]]#{spring-shell-version}</version>
        </dependency>
        <dependency>
            <groupId>org.springframework.shell</groupId>
            <artifactId>spring-shell-starter</artifactId>
            <version>#[[$]]#{spring-shell-version}</version>
        </dependency>
    </dependencies>
    <build>
        <resources>
            <resource>
                <directory>src/main/resources</directory>
            </resource>
        </resources>
        <plugins>
            <plugin>
                <groupId>org.springframework.boot</groupId>
                <artifactId>spring-boot-maven-plugin</artifactId>
            </plugin>
            <plugin>
                <groupId>com.spotify</groupId>
                <artifactId>dockerfile-maven-plugin</artifactId>
                <version>#[[$]]#{dockerfile-maven-version}</version>
                <executions>
                    <execution>
                        <id>default</id>
                        <goals>
                            <goal>build</goal>
                            <goal>push</goal>
                        </goals>
                    </execution>
                </executions>
                <configuration>
                    <repository>consumerdatastandardsaustralia/cds-client-java-cli</repository>
                    <tag>#[[$]]#{project.version}</tag>
                    <buildArgs>
                        <JAR_FILE>#[[$]]#{project.build.finalName}.jar</JAR_FILE>
                    </buildArgs>
                    <useMavenSettingsForAuth>true</useMavenSettingsForAuth>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-surefire-plugin</artifactId>
                <version>3.0.0-M3</version>
            </plugin>
            <plugin>
                <groupId>org.sonatype.plugins</groupId>
                <artifactId>nexus-staging-maven-plugin</artifactId>
                <version>1.6.7</version>
                <extensions>true</extensions>
                <configuration>
                    <serverId>ossrh</serverId>
                    <nexusUrl>https://oss.sonatype.org/</nexusUrl>
                    <autoReleaseAfterClose>false</autoReleaseAfterClose>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-source-plugin</artifactId>
                <version>2.2.1</version>
                <executions>
                    <execution>
                        <id>attach-sources</id>
                        <goals>
                            <goal>jar-no-fork</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-release-plugin</artifactId>
                <version>2.5.3</version>
                <configuration>
                    <autoVersionSubmodules>true</autoVersionSubmodules>
                    <useReleaseProfile>false</useReleaseProfile>
                    <releaseProfiles>release</releaseProfiles>
                    <goals>deploy</goals>
                </configuration>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-gpg-plugin</artifactId>
                <version>1.5</version>
                <executions>
                    <execution>
                        <id>sign-artifacts</id>
                        <phase>verify</phase>
                        <goals>
                            <goal>sign</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
            <plugin>
                <groupId>org.apache.maven.plugins</groupId>
                <artifactId>maven-javadoc-plugin</artifactId>
                <version>2.9.1</version>
                <executions>
                    <execution>
                        <id>attach-javadocs</id>
                        <goals>
                            <goal>jar</goal>
                        </goals>
                    </execution>
                </executions>
            </plugin>
        </plugins>
    </build>

    <profiles>
        <profile>
            <id>snapshot</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>Maven Repository Switchboard</name>
                    <url>http://repo1.maven.org/maven2</url>
                </repository>
                <repository>
                    <id>sonatype-snapshots</id>
                    <url>http://oss.sonatype.org/content/repositories/snapshots</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
        </profile>
        <profile>
            <id>release</id>
            <pluginRepositories>
                <pluginRepository>
                    <id>bintray-cy6ergn0m-maven</id>
                    <name>bintray-plugins</name>
                    <url>http://dl.bintray.com/cy6ergn0m/maven</url>
                </pluginRepository>
            </pluginRepositories>
            <build>
                <plugins>
                    <plugin>
                        <groupId>cy.github</groupId>
                        <artifactId>github-release-plugin</artifactId>
                        <version>0.5.1</version>
                        <configuration>
                            <tagName>#[[$]]#{project.version}</tagName>
                            <releaseTitle>#[[$]]#{project.artifactId}-#[[$]]#{project.version}</releaseTitle>
                            <serverId>github</serverId>
                        </configuration>
                        <executions>
                            <execution>
                                <goals>
                                    <goal>gh-upload</goal>
                                </goals>
                                <phase>deploy</phase>
                            </execution>
                        </executions>
                    </plugin>
                </plugins>
            </build>
        </profile>
    </profiles>
</project>
