{{>licenseInfo}}
package {{package}};

{{#imports}}
import {{import}};
{{/imports}}
{{^isEnum}}import java.util.Objects;{{/isEnum}}
{{#models}}
{{#model}}
{{#isEnum}}{{>modelEnum}}{{/isEnum}}{{^isEnum}}{{>pojo}}{{/isEnum}}
{{/model}}
{{/models}}
