# client

This module/artefact is a Java Reference Implementation of CDS client (Data Recipient) library

## Unit tests

To run unit tests of client, navigate to client folder and execute

```mvn test```
